body{
    font-family: cursive !important;
    overflow-x: hidden;
}
table{
    padding: 20px;
}

table *{
    text-align: center !important;
}

button {
    margin: 20px;
}

p {
    margin-left: 10px;
}

.inputter{
    width: 150px !important;
}

.right{
    padding-right: 0px !important;
}

.left{
    padding-left: 0px !important;
}